* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;
}

.header {
  background-color: #000000;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container img {
  width: 116px;
  height: 32px;
  margin: 10px 0 8px 0px;
}
.header .container .login a {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  color: #f6f6f6;
  margin-right: 20px;
}
.header .container .login a img {
  width: 31px;
  height: 31px;
}
.header .container .login .amountItem {
  font-weight: 300;
  font-size: 30px;
  color: #ffffff;
  margin-right: 15px;
}

.menu {
  background-color: #ffffff;
}
.menu .container a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  margin: 16px 24px 10px 0;
  font-weight: 300;
  font-size: 20px;
  color: #000000;
}
.menu .container a:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #000000;
  font-weight: 400;
  width: 0%;
  content: "";
  height: 1px;
}
.menu .container a:hover::after {
  width: 100%;
}
.menu .container .active {
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.menu .container .active:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
  font-weight: 400;
  background-color: #000000;
  width: 100%;
  content: "";
  height: 1px;
}

.product .container {
  display: flex;
  margin: 58px 45px 39px 45px;
}
.product .container .item {
  flex: 30%;
  height: 355px;
  background-color: #f8f8f8;
  position: relative;
  margin-right: 128px;
}
.product .container .item img {
  background-color: #f8f8f8;
  width: 220px;
  height: 156px;
  position: absolute;
  left: 57px;
  top: 109px;
}
.product .container .detail {
  flex: 70%;
}
.product .container .detail h1 {
  font-weight: 300;
  font-size: 30px;
  color: #000000;
}
.product .container .detail p {
  font-weight: 400;
  font-size: 16px;
  color: #140101;
}
.product .container .detail h2 {
  font-weight: 500;
  font-size: 24px;
  color: #1ed90e;
}
.product .container .detail .productSize button {
  font-weight: 600;
  font-size: 24px;
  color: #1e1d1d;
  padding: 11px 8px 10px 10px;
  background-color: #cccccc;
  margin-right: 21px;
  border-radius: 0;
  border: none;
  margin-bottom: 17px;
}
.product .container .detail h4 {
  font-weight: 600;
  font-size: 30px;
  color: #fc0303;
  width: 113px;
  height: 47px;
  padding-bottom: 6px;
}
.product .container .detail .productAmount button {
  font-weight: 400;
  font-size: 30px;
  color: #fffcfc;
  padding: 6px 17px 12px 15px;
  border-radius: 0px;
  border: none;
  background: linear-gradient(180deg, #6181f3 0%, #7c97f5 99.48%);
  margin-right: 20px;
}
.product .container .detail .productAmount span {
  font-weight: 400;
  font-size: 30px;
  color: #000000;
  margin-right: 25px;
}
.product .container .detail a {
  margin-top: 100px;
  font-weight: 500;
  font-size: 24px;
  color: #fff8f8;
  width: 175px;
  height: 64px;
  padding: 18px 9px 18px 24px;
  background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
}