* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: white;
}

/*
    background: color
*/
body {
  background-color: #F6F6F6;
}

.header .container {
  position: relative;
  background-color: black;
  height: 50px;
}
.header .container .frame {
  position: absolute;
  left: 0;
}
.header .container .frame a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: #F6F6F6;
}
.header .container .frame .logo {
  position: absolute;
  width: 116px;
  height: 32px;
  left: 24px;
  top: 10px;
}
.header .container .frame .log {
  position: absolute;
  width: 91px;
  height: 32px;
  left: 1103px;
  top: 15px;
}
.header .container .frame .reg {
  position: absolute;
  width: 90px;
  height: 32px;
  left: 1170px;
  top: 15px;
}
.header .container .com {
  position: absolute;
  width: 66px;
  height: 36px;
  left: 1027px;
  top: 6px;
}
.header .container .com img {
  position: absolute;
  left: 0%;
  right: 53.03%;
  top: 8.33%;
  bottom: 5.56%;
  width: 31px;
  height: 31px;
}
.header .container .com span {
  position: absolute;
  left: 46.97%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  width: 35px;
  height: 36px;
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
}

.menu {
  height: 50px;
}
.menu .container {
  position: relative;
  width: 100%;
}
.menu .container hr {
  position: absolute;
  width: 60px;
  height: 2px;
  left: 24px;
  top: 40px;
  color: black;
}
.menu .container a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  color: black;
}
.menu .container .menu-a1 {
  position: absolute;
  width: 56px;
  left: 25px;
  top: 16px;
}
.menu .container .menu-a2 {
  position: absolute;
  width: 41px;
  left: 105px;
  top: 16px;
  opacity: 70%;
}
.menu .container .menu-a3 {
  position: absolute;
  width: 70px;
  left: 183px;
  top: 16px;
  opacity: 70%;
}
.menu .container .menu-a4 {
  position: absolute;
  width: 31px;
  left: 292px;
  top: 16px;
}
.menu .container .menu-a5 {
  position: absolute;
  width: 52px;
  left: 363px;
  top: 16px;
}

.carousel .container {
  background-image: url(../../img/image\ 6.png);
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
  position: relative;
  height: 530px;
}
.carousel .container .img1 {
  position: absolute;
  width: 821px;
  height: 392px;
  left: 86px;
  top: 5px;
}
.carousel .container .img2 {
  box-sizing: border-box;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 597px;
  top: 397px;
}
.carousel .container .img3 {
  box-sizing: border-box;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 635px;
  top: 397px;
}
.carousel .container .img4 {
  box-sizing: border-box;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 667px;
  top: 397px;
}
.carousel .container .img5 {
  box-sizing: border-box;
  position: absolute;
  width: 45.71px;
  height: 66.13px;
  right: 18px;
  top: 175px;
}
.carousel .container .img6 {
  box-sizing: border-box;
  position: absolute;
  width: 45.71px;
  height: 66.13px;
  left: 18px;
  top: 175px;
}
.carousel .container h1 {
  position: absolute;
  width: 291px;
  height: 51px;
  left: 930px;
  top: 124px;
  line-height: 48px;
}
.carousel .container p {
  position: absolute;
  width: 291px;
  height: 51px;
  left: 930px;
  top: 175px;
  line-height: 24px;
}
.carousel .container button {
  position: absolute;
  width: 150px;
  height: 50px;
  left: 930px;
  top: 225px;
  background-color: #F8B653;
  border: none;
}

.product .container .title {
  text-align: center;
  padding-top: 16px;
  margin-bottom: 89px;
}
.product .container .product-item {
  display: flex;
  flex-wrap: wrap;
}
.product .container .product-item .item {
  width: 334px;
  height: 369px;
  margin-bottom: 49px;
  border: 1px solid black;
}
.product .container .product-item .item .item-img {
  height: 231px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product .container .product-item .item .item-img img {
  width: 220px;
  height: 156px;
}
.product .container .product-item .item .item-info .name {
  font-size: 24px;
  font-weight: 300;
  color: black;
  line-height: 29.05px;
  margin-left: 23px;
}
.product .container .product-item .item .item-info .description {
  font-size: 20px;
  font-weight: 300;
  color: #CBC9C9;
  line-height: 24.2px;
  margin-left: 23px;
  margin-bottom: 11px;
}
.product .container .product-item .item .item-btn {
  height: 64px;
  display: flex;
}
.product .container .product-item .item .item-btn .buy {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product .container .product-item .item .item-btn .buy a {
  border: none;
  width: 100%;
  height: 100%;
  background-color: #F8B653;
  font-size: 24px;
  font-weight: 200;
  color: black;
  line-height: 29.05px;
}
.product .container .product-item .item .item-btn .price {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DEDDDC;
}
.product .container .product-item .item .item-btn .price p {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 600;
  color: black;
  line-height: 29.05px;
}
.product .container .product-item .item1 {
  margin-left: 99px;
}
.product .container .product-item .item2 {
  margin: 0 67px;
}
.product .container .product-item .item2 .item-info .name {
  font-size: 20px !important;
}
.product .container .product-item .item3 .item-info .name {
  font-size: 20px !important;
}
.product .container .product-item .item4 {
  margin-left: 99px;
}
.product .container .product-item .item5 {
  margin: 0 67px;
}
.product .container .product-item .item7 {
  margin-left: 99px;
}
.product .container .product-item .item8 {
  margin: 0 67px;
}
.product .container .product-item .item10 {
  margin-left: 99px;
}
.product .container .product-item .item11 {
  margin: 0 67px;
}
.product .container .product-item .item13 {
  margin-left: 99px;
}
.product .container .product-item .item14 {
  margin: 0 67px;
}
.product .container .product-item .item16 {
  margin-left: 99px;
}
.product .container .product-item .item17 {
  margin: 0 67px;
}
.product .container .product-item .item19 {
  margin-left: 99px;
}