* {
  padding: 0;
  margin: 0;
  // box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;
}

$text-exlight: 200;
$text-light: 300;
$text-regular: 400;
$text-medium: 500;
$text-semibold: 600;

$text-base: 16px;
$text-xl: 18px;
$text-2xl: 20px;
$text-24xl: 24px;
$text-3xl: 30px;
$text-4xl: 40px;

$text-c1-dark: #000000;
$text-c2-dark: #140101;
$text-c3-dark: #1e1d1d;
$text-c1-light: #ffffff;
$text-c2-light: #cbc9c9;
$text-c3-light: #f6f6f6;
$text-c4-light: #fffcfc;
$text-c5-light: #fff8f8;
$text-c1-red: #fc0303;
$text-c1-green: #1ed90e;

$bg-c1-dark: #000000;
$bg-c1-light: #cccccc;
$bg-c2-light: #f8f8f8;
$bg-c3-light: #dedddc;
$bg-c4-light: #f5f5f5;
$bg-c5-light: #ffffff;
$bg-c2-orange: #e1b067;

@mixin text($fw, $fs, $c) {
  font-weight: $fw;
  font-size: $fs;
  color: $c;
}

.header {
  background-color: $bg-c1-dark;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 116px;
      height: 32px;
      margin: 10px 0 8px 0px;
    }
    .login {
      a {
        text-decoration: none;
        img {
          width: 31px;
          height: 31px;
        }
        @include text($text-light, $text-base, $text-c3-light);
        margin-right: 20px;
      }
      .amountItem {
        @include text($text-light, $text-3xl, $text-c1-light);
        margin-right: 15px;
      }
    }
  }
}

.menu {
  background-color: $bg-c5-light;
  .container {
    a {
      position: relative;
      display: inline-block;
      text-decoration: none;
      margin: 16px 24px 10px 0;
      @include text($text-light, $text-2xl, $text-c1-dark);
      &:after {
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        margin: auto;
        background-color: $bg-c1-dark;
        font-weight: $text-regular;
        width: 0%;
        content: "";
        height: 1px;
      }
      &:hover::after {
        width: 100%;
      }
    }
    .active {
      @include text($text-regular, $text-2xl, $text-c1-dark);
      &:after {
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        margin: auto;
        font-weight: $text-regular;
        background-color: $bg-c1-dark;
        width: 100%;
        content: "";
        height: 1px;
      }
    }
  }
}

.info {
  .container {
    display: flex;
    margin: 58px 45px 39px 45px;
    .item {
      flex: 30%;
      height: 355px;
      background-color: $bg-c2-light;
      position: relative;
      margin-right: 128px;
      img {
        background-color: $bg-c2-light;
        width: 220px;
        height: 156px;
        position: absolute;
        left: 57px;
        top: 109px;
      }
    }
    .detail {
      flex: 70%;
      h1 {
        @include text($text-light, $text-3xl, $text-c1-dark);
      }
      p {
        @include text($text-regular, $text-base, $text-c2-dark);
      }
      h2 {
        @include text($text-medium, $text-24xl, $text-c1-green);
      }
      .productSize {
        button {
          @include text($text-semibold, $text-24xl, $text-c3-dark);
          padding: 11px 8px 10px 10px;
          background-color: $bg-c1-light;
          margin-right: 21px;
          border-radius: 0;
          border: none;
          margin-bottom: 17px;
        }
      }
      h4 {
        @include text($text-semibold, $text-3xl, $text-c1-red);
        width: 113px;
        height: 47px;
        padding-bottom: 6px;
      }
      .productAmount {
        button {
          @include text($text-regular, $text-3xl, $text-c4-light);
          text-align: center;
          line-height: 25px;
          width: 50px;
          height: 50px;
          border-radius: 0px;
          border: none;
          background: linear-gradient(180deg, #6181f3 0%, #7c97f5 99.48%);
          margin-right: 20px;
        }
        span {
          @include text($text-regular, $text-3xl, $text-c1-dark);
          margin-right: 25px;
        }
        margin-bottom: 25px;
      }
      a {
        @include text($text-medium, $text-24xl, $text-c5-light);
        width: 175px;
        height: 64px;
        text-decoration: none;
        border-radius: 0px;
        padding-left: 24px;
        padding-top: 18px;
        background: linear-gradient(
          270deg,
          rgba(62, 32, 248, 0.9) 5.14%,
          #d017ee 89.71%
        );
      }
    }
  }
}

.product {
  .container {
    margin: 0;
    padding-top: 16px;
    padding-bottom: 106px;
    margin-left: 75px;
    h1 {
      @include text($text-regular, $text-4xl, $text-c1-dark);
      text-align: center;
      margin-bottom: 89px;
    }
    .items {
      .row {
        .col {
          padding: 0;
          margin: 0;
          border: none;
          margin-right: 60px;
          margin-bottom: 47px;
          display: flex;
          flex-wrap: wrap;
          flex-basis: 334px;
          height: 369px;
          .card {
            border-radius: 0px;
            border: none;
            background: $bg-c2-light;
            img {
              width: 220px;
              height: 156px;
              margin-left: 57px;
              margin-top: 45px;
              margin-bottom: 30px;
              background-color: $bg-c2-light;
            }
            .cardBody {
              h2 {
                @include text($text-light, $text-24xl, $text-c1-dark);
                margin-left: 23px;
                margin-bottom: 8px;
              }

              p {
                @include text($text-light, $text-xl, $text-c2-light);
                margin-left: 23px;
                margin-bottom: 13px;
              }
              .price {
                display: flex;
                vertical-align: middle;
                text-align: center;
                button {
                  width: 175px;
                  height: 64px;
                  @include text($text-exlight, $text-24xl, $text-c1-dark);
                  background-color: $bg-c2-orange;
                  border-radius: 0px;
                  border: none;
                }
                p {
                  width: 160px;
                  height: 64px;
                  @include text($text-semibold, $text-24xl, $text-c1-dark);
                  margin: 0;
                  line-height: 64px;
                  background: $bg-c3-light;
                }
              }
            }
          }
        }
      }
    }
  }
}

.footer{
  img{
  display: block;
  width: 100%;
  }
}
