@import'../base/base';
@import'../help/mixin';
@import'../help/variable';

.header {
    .container {
        position: relative;
        background-color: $text-c1-dark;
        height: 50px;

        .frame {
            position: absolute;
            left: 0;

            a {
                text-decoration: none;
                @include text($text-base, $text-light, $text-c2-light);
            }

            .logo {
                position: absolute;
                width: 116px;
                height: 32px;
                left: 24px;
                top: 10px;
            }

            .log {
                position: absolute;
                width: 91px;
                height: 32px;
                left: 1103px;
                top: 15px;
            }

            .reg {
                position: absolute;
                width: 90px;
                height: 32px;
                left: 1170px;
                top: 15px;
            }
        }

        .com {
            position: absolute;
            width: 66px;
            height: 36px;
            left: 1027px;
            top: 6px;

            img {
                position: absolute;
                left: 0%;
                right: 53.03%;
                top: 8.33%;
                bottom: 5.56%;
                width: 31px;
                height: 31px;
            }

            span {
                position: absolute;
                left: 46.97%;
                right: 0%;
                top: 0%;
                bottom: 0%;
                width: 35px;
                height: 36px;
                @include text($text-3xl, $text-light, $text-c1-light);
            }
        }
    }
}


.menu {
    height: 50px;

    .container {
        position: relative;
        width: 100%;

        hr {
            position: absolute;
            width: 60px;
            height: 2px;
            left: 24px;
            top: 40px;
            color: $text-c1-dark;

        }

        a {
            // height: 24px;
            text-decoration: none;
            @include text($text-2xl, $text-light, $text-c1-dark )
        }

        .menu-a1 {
            position: absolute;
            width: 56px;
            left: 25px;
            top: 16px;
        }

        .menu-a2 {
            position: absolute;
            width: 41px;
            left: 105px;
            top: 16px;
            opacity: 70%;
        }

        .menu-a3 {
            position: absolute;
            width: 70px;
            left: 183px;
            top: 16px;
            opacity: 70%;
        }

        .menu-a4 {
            position: absolute;
            width: 31px;
            left: 292px;
            top: 16px;
        }

        .menu-a5 {
            position: absolute;
            width: 52px;
            left: 363px;
            top: 16px;
        }
    }
}


.carousel{
    
}