@import'../base/base';
@import'../help/mixin';
@import'../help/variable';

body {
    background-color: $text-c2-light;
}

.header {
    .container {
        position: relative;
        background-color: $text-c1-dark;
        height: 50px;

        .frame {
            position: absolute;
            left: 0;

            a {
                text-decoration: none;
                @include text($text-base, $text-light, $text-c2-light);
            }

            .logo {
                position: absolute;
                width: 116px;
                height: 32px;
                left: 24px;
                top: 10px;
            }

            .log {
                position: absolute;
                width: 91px;
                height: 32px;
                left: 1103px;
                top: 15px;
            }

            .reg {
                position: absolute;
                width: 90px;
                height: 32px;
                left: 1170px;
                top: 15px;
            }
        }

        .com {
            position: absolute;
            width: 66px;
            height: 36px;
            left: 1027px;
            top: 6px;

            img {
                position: absolute;
                left: 0%;
                right: 53.03%;
                top: 8.33%;
                bottom: 5.56%;
                width: 31px;
                height: 31px;
            }

            span {
                position: absolute;
                left: 46.97%;
                right: 0%;
                top: 0%;
                bottom: 0%;
                width: 35px;
                height: 36px;
                @include text($text-3xl, $text-light, $text-c1-light);
            }
        }
    }
}



.footer {
    .container {
        padding: 0 0;
        .footer1 {
            padding: 20px 0;
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: $text-c2-light;
            // justify-content: space-between;
            .item {
                h1 {
                    @include text($text-base, $text-medium, $bg-c1-dark)
                }

                .info {
                    display: flex;
                    flex-direction: column;

                    a {
                        text-decoration: none;
                        @include text($text-m, $text-regular, $bg-c1-dark)
                    }
                    p{
                        @include text($text-m, $text-regular, $bg-c1-dark)
                    }
                }
            }

            .item1 {
                width: 520px;

                h1 {
                    margin-left: 170px;
                }

                .info {
                    a {
                        margin-left: 170px;
                    }
                }
            }

            .item2 {
                width: 295px;
                padding: 0 10px;
                border-left: 1px solid $text-c4-light;
                border-right: 1px solid $text-c4-light;
            }

            .item3 {
                width: 304px;
                padding-left: 10px;
                a{
                    color: $text-c1-danger !important;
                }
            }
            .item4{
                width: 216px;
            }
        }

        .footer2 {
            display: flex;
            padding: 20px 0;
            background-color: $text-c5-light;
            .item {
                h1 {
                    @include text($text-base, $text-medium, $bg-c1-dark)
                }

                .info {
                    p {
                        @include text($text-m, $text-regular, $bg-c1-dark)
                    }

                    a {
                        @include text($text-m, $text-regular, $text-c1-danger);
                        text-decoration: none;
                    }
                }
            }

            .item1 {
                width: 520px;
                h1{
                    margin-left: 170px;
                }
                .info{
                    margin-left: 170px;
                }
            }

            .item2 {
                width: 295px;
                padding: 0 10px;
                border-left: 1px solid $text-c4-light;
                border-right: 1px solid $text-c4-light;
            }

            .item3 {
                width: 304px;
                padding-left: 10px;
            }

            .item4 {
                width: 216px;
                display: flex;
                justify-content: center;
                align-items: center;
                i{
                    font-size: 30px;
                    opacity: 0.5;
                    color: $text-c1-dark;
                }
            }
        }
    }
}