@import'../base/base';
@import'../help/mixin';
@import'../help/variable';

body {
    background-color: white;
}

.header {
    .container {
        position: relative;
        background-color: $text-c1-dark;
        height: 50px;

        .frame {
            position: absolute;
            left: 0;

            a {
                text-decoration: none;
                @include text($text-base, $text-light, $text-c2-light);
            }

            .logo {
                position: absolute;
                width: 116px;
                height: 32px;
                left: 24px;
                top: 10px;
            }

            .log {
                position: absolute;
                width: 91px;
                height: 32px;
                left: 1103px;
                top: 15px;
            }

            .reg {
                position: absolute;
                width: 90px;
                height: 32px;
                left: 1170px;
                top: 15px;
            }
        }

        .com {
            position: absolute;
            width: 66px;
            height: 36px;
            left: 1027px;
            top: 6px;

            img {
                position: absolute;
                left: 0%;
                right: 53.03%;
                top: 8.33%;
                bottom: 5.56%;
                width: 31px;
                height: 31px;
            }

            span {
                position: absolute;
                left: 46.97%;
                right: 0%;
                top: 0%;
                bottom: 0%;
                width: 35px;
                height: 36px;
                @include text($text-3xl, $text-light, $text-c1-light);
            }
        }
    }
}

.menu {
    
    
    .container {
        position: relative;
        height: 50px;
        width: 100%;
        // background-color: white !important;
        hr {
            position: absolute;
            width: 60px;
            height: 2px;
            left: 24px;
            top: 30px;
            color: $text-c1-dark;
            z-index: 8;

        }

        a {
            // height: 24px;
            text-decoration: none;
            @include text($text-2xl, $text-light, $text-c1-dark )
        }

        .menu-a1 {
            position: absolute;
            width: 56px;
            left: 25px;
            top: 16px;
        }

        .menu-a2 {
            position: absolute;
            width: 41px;
            left: 105px;
            top: 16px;
            opacity: 70%;
        }

        .menu-a3 {
            position: absolute;
            width: 70px;
            left: 183px;
            top: 16px;
            opacity: 70%;
        }

        .menu-a4 {
            position: absolute;
            width: 31px;
            left: 292px;
            top: 16px;
        }

        .menu-a5 {
            position: absolute;
            width: 52px;
            left: 363px;
            top: 16px;
        }
    }
}

.sub {
    // padding-bottom: 40px;
    .container {
        padding: 0 0 40px 0;
        position: relative;
        h1 {
            @include text($text-4xl, $text-regular, $text-c1-dark);
            line-height: 48.41px;
            text-align: center;
            padding-top: 30px;
        }

        .content {

            display: flex;
            flex-direction: column;
            // align-items: center;




            .content1 {
                display: flex;
                margin-bottom: 20px;
                height: 51px;

                .help {
                    margin: 0 0px 0 120px;
                    width: 482px;
                    border-bottom: 4px solid $text-c1-purple;
                    input {
                        border: none;
                        width: 346px;
                        height: 36px;
                        @include text ($text-3xl, $text-regular, $text-c1-dark);
                        &::placeholder {
                            @include text ($text-3xl, $text-regular, $text-c1-dark);
                            background: $bg-c3-light;
                        }
                        &:focus{
                            outline: none;
                            background: #F5F5F5;
                        }
                    }
                }
            }

            .content2 {
                display: flex;
                margin-bottom: 20px;
                height: 51px;

                .help {
                    margin: 0 0px 0 120px;
                    width: 482px;
                    border-bottom: 4px solid $text-c1-purple;
                    input {
                        border: none;
                        width: 346px;
                        height: 36px;
                        @include text ($text-3xl, $text-regular, $text-c1-dark);
                        &::placeholder {
                            background: $bg-c3-light;
                            @include text ($text-3xl, $text-regular, $text-c1-dark);
                        }
                        &:focus{
                            outline: none;
                            background: #F5F5F5;
                        }
                    }
                }
            }

            .content3 {
                display: flex;
                align-items: center;
                
                margin-bottom: 20px;
                height: 51px;

                .help {
                    margin: 0 120px 0 120px;
                    width: 482px;
                    border-bottom: 4px solid $text-c1-purple;
                    input {
                        width: 346px;
                        border: none;
                        height: 36px;
                        @include text ($text-3xl, $text-regular, $text-c1-dark);
                        &::placeholder {
                            background: $bg-c3-light;
                            @include text ($text-3xl, $text-regular, $text-c1-dark);
                        }
                        &:focus{
                            outline: none;
                            background: #F5F5F5;
                        }
                    }
                }

                .ct3-radio {
                    span{
                        @include text ($text-3xl, $text-regular, $text-c1-dark);
                        line-height: 36.31px;
                    }
                    input {
                        @include text ($text-3xl, $text-regular, $text-c1-dark);
                        line-height: 36.31px;
                        margin: 0 15px !important;
                        width: 65.42px ;
                        height: 50px ;
                        background-color: $text-c1-purple;
                        accent-color: $bg-c3-violet;
                    }
                }

            }

            .sub-btn{
                button{
                    // position: absolute;
                    margin-left: 720px;
                    @include btn($text-3xl, $text-regular, $text-c1-light, $bg-c3-violet, 6px 98.94px 12px 87.3px,1px solid $text-c1-purple, 0, $text-c1-purple, $text-c1-light);
                }
            }
            // .cs-input1 {


            //     // margin-left: 120px !important;
            //     border: none;

            // }
        }
    }
}


.footer {
    .container {
        padding: 0 0;

        .footer1 {
            padding: 20px 0;
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: $text-c2-light;

            // justify-content: space-between;
            .item {
                h1 {
                    @include text($text-base, $text-medium, $bg-c1-dark)
                }

                .info {
                    display: flex;
                    flex-direction: column;

                    a {
                        text-decoration: none;
                        @include text($text-m, $text-regular, $bg-c1-dark)
                    }

                    p {
                        @include text($text-m, $text-regular, $bg-c1-dark)
                    }
                }
            }

            .item1 {
                width: 520px;

                h1 {
                    margin-left: 170px;
                }

                .info {
                    a {
                        margin-left: 170px;
                    }
                }
            }

            .item2 {
                width: 295px;
                padding: 0 10px;
                border-left: 1px solid $text-c4-light;
                border-right: 1px solid $text-c4-light;
            }

            .item3 {
                width: 304px;
                padding-left: 10px;

                a {
                    color: $text-c1-danger  !important;
                }
            }

            .item4 {
                width: 216px;
            }
        }

        .footer2 {
            display: flex;
            padding: 20px 0;
            background-color: $text-c5-light;

            .item {
                h1 {
                    @include text($text-base, $text-medium, $bg-c1-dark)
                }

                .info {
                    p {
                        @include text($text-m, $text-regular, $bg-c1-dark)
                    }

                    a {
                        @include text($text-m, $text-regular, $text-c1-danger);
                        text-decoration: none;
                    }
                }
            }

            .item1 {
                width: 520px;

                h1 {
                    margin-left: 170px;
                }

                .info {
                    margin-left: 170px;
                }
            }

            .item2 {
                width: 295px;
                padding: 0 10px;
                border-left: 1px solid $text-c4-light;
                border-right: 1px solid $text-c4-light;
            }

            .item3 {
                width: 304px;
                padding-left: 10px;
            }

            .item4 {
                width: 216px;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    font-size: 30px;
                    opacity: 0.5;
                    color: $text-c1-dark;
                }
            }
        }
    }
}