$text-c1-primary: #F8B653;
$text-c1-dark: black;
$text-c1-light: #ffffff;
$text-c2-light: #F6F6F6;
$text-c3-light: #CBC9C9;
$text-c4-light: #DEDDDC;
$text-c5-light: #ececec;
$text-c1-warning: #ffb900;
$text-c1-danger: #d06f6a;



$text-m:12px;
$text-xxs: 13px;
$text-x-xs:13.5px;
$text-xs: 14px;
$text-base: 16px;
$text--base:16.5px;
$text-xl: 18px;
$text-2xl: 20px;
$text-2x-l:24px;
$text-3xl: 30px;
$text-3-x-l: 35px;
$text-4xl: 40px;
$text-4-x-l:47px;
$text-5xl: 50px;
$text-5-xl: 57px;
$text-6xl: 60px;


$text-extralight:200;
$text-light: 300;
$text-regular: 400;
$text-medium: 500;
$text-semibold: 600;
$text-bold: 700;


/*
    background: color
*/


$bg-c1-primary: #AA017D;
$bg-c2-primary:#980171;
$bg-c1-dark: black;


// $bg-c1-primary
$bg-c1-light: #ffffff;
$bg-c2-light:#e4dede;
$bg-transparent: transparent;